{
  "extends": "standard",
  "settings": {
          "html/html-extensions": [".html", ".vue" ]
  },
  "env": {
    "browser": true
  },
  "plugins": [
    "html"
  ],
  "globals": {
          "_": false,
          "Backbone": false,
          "jQuery": false,
          "wp": false,
          "__dirname": true,
          "rtwp":true
  },
  "parser": "babel-eslint"
}

